In [ ]:
# MINOR PROJECT HEART DISEASE DETECTION

In [6]:
import pandas as pd

In [7]:
dataset = pd.read_csv('C:\\Users\\Andrea Neha\\Downloads\\heart.csv')

In [8]:
dataset

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [17]:
dataset.isnull()               #2 step process to find missing value 1)isnull() 2)sum()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,False,False,False,False,False,False,False,False,False,False,False,False,False,False
299,False,False,False,False,False,False,False,False,False,False,False,False,False,False
300,False,False,False,False,False,False,False,False,False,False,False,False,False,False
301,False,False,False,False,False,False,False,False,False,False,False,False,False,False
302,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [18]:
dataset.isnull().sum(axis="rows")                  #no null values in this dataset

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [20]:
dataset.shape

(303, 14)

In [9]:
y = dataset["target"]

In [11]:
x = dataset[["age","sex","trestbps","chol","thalach","oldpeak"]]             #here we select the necessary columns

In [41]:
x                        #0-->female,1--->male

     age  trestbps  chol  thalach  oldpeak  sex_0  sex_1
0     63       145   233      150      2.3      0      1
1     37       130   250      187      3.5      0      1
2     41       130   204      172      1.4      1      0
3     56       120   236      178      0.8      0      1
4     57       120   354      163      0.6      1      0
..   ...       ...   ...      ...      ...    ...    ...
298   57       140   241      123      0.2      1      0
299   45       110   264      132      1.2      0      1
300   68       144   193      141      3.4      0      1
301   57       130   131      115      1.2      0      1
302   57       130   236      174      0.0      1      0

[303 rows x 7 columns]

In [40]:
x=pd.get_dummies(x,columns=["sex"])       #to convert non numeric to numeric in sex

In [35]:
# ARCHITECTURE

In [25]:
from tensorflow.keras.utils import to_categorical

In [26]:
y=to_categorical(y)

In [27]:
y.shape

(303, 2)

In [28]:
from keras.layers import Dense

In [29]:
from keras.models import Sequential

In [42]:
x.shape

(303, 7)

In [44]:
model=Sequential()
model.add(Dense(40,activation="relu",input_shape=(7,)))
model.add(Dense(2,activation="softmax"))

In [33]:
# COMPILING THE MODEL

In [56]:
model.compile(optimizer="adam",loss="categorical_crossentropy",metrics=["accuracy"])

In [53]:
#TRAINING THE MODEL

In [57]:
model.fit(x,y,epochs=15)           #epochs is for iteration

Epoch 1/15
10/10 [==============================] - 1s 3ms/step - loss: 1.2067 - accuracy: 0.5743
Epoch 2/15
10/10 [==============================] - 0s 3ms/step - loss: 0.6948 - accuracy: 0.7030
Epoch 3/15
10/10 [==============================] - 0s 3ms/step - loss: 0.6284 - accuracy: 0.7030
Epoch 4/15
10/10 [==============================] - 0s 3ms/step - loss: 0.6170 - accuracy: 0.6733
Epoch 5/15
10/10 [==============================] - 0s 3ms/step - loss: 0.6391 - accuracy: 0.7030
Epoch 6/15
10/10 [==============================] - 0s 3ms/step - loss: 0.6390 - accuracy: 0.6733
Epoch 7/15
10/10 [==============================] - 0s 4ms/step - loss: 0.5665 - accuracy: 0.7096
Epoch 8/15
10/10 [==============================] - 0s 4ms/step - loss: 0.5479 - accuracy: 0.7426
Epoch 9/15
10/10 [==============================] - 0s 3ms/step - loss: 0.5536 - accuracy: 0.7096
Epoch 10/15
10/10 [==============================] - 0s 4ms/step - loss: 0.5602 - accuracy: 0.7228
Epoch 11/15
10/10 [==============================] - 0s 2ms/step - loss: 0.5498 - accuracy: 0.7261
Epoch 12/15
10/10 [==============================] - 0s 3ms/step - loss: 0.5612 - accuracy: 0.7228
Epoch 13/15
10/10 [==============================] - 0s 3ms/step - loss: 0.5274 - accuracy: 0.7327
Epoch 14/15
10/10 [==============================] - 0s 3ms/step - loss: 0.5310 - accuracy: 0.7393
Epoch 15/15
10/10 [==============================] - 0s 3ms/step - loss: 0.5080 - accuracy: 0.7492

In [ ]:
# PREDICTION

In [58]:
x

     age  trestbps  chol  thalach  oldpeak  sex_0  sex_1
0     63       145   233      150      2.3      0      1
1     37       130   250      187      3.5      0      1
2     41       130   204      172      1.4      1      0
3     56       120   236      178      0.8      0      1
4     57       120   354      163      0.6      1      0
..   ...       ...   ...      ...      ...    ...    ...
298   57       140   241      123      0.2      1      0
299   45       110   264      132      1.2      0      1
300   68       144   193      141      3.4      0      1
301   57       130   131      115      1.2      0      1
302   57       130   236      174      0.0      1      0

[303 rows x 7 columns]

In [ ]:
# TESTING :1

In [59]:
data=pd.DataFrame({"age":[42],"trestbps":[138],"chol":[291],"thalach":[135],"oldpeak":[1.0],"sex_0":[0],"sex_1":[1]})

In [60]:
data                        #0 is female, 1 is male

   age  trestbps  chol  thalach  oldpeak  sex_0  sex_1
0   42       138   291      135      1.0      0      1

In [61]:
model.predict(data)                # the probability of--> [have_heart_disease,no_heart_disease]

array([[0.56970584, 0.43029416]], dtype=float32)

In [ ]:
# TESTING :2

In [62]:
data=pd.DataFrame({"age":[63,37],"trestbps":[145,130],"chol":[233,250],"thalach":[150,187],"oldpeak":[2.3,3.5],"sex_0":[0,0],"sex_1":[1,1]})

In [63]:
data

   age  trestbps  chol  thalach  oldpeak  sex_0  sex_1
0   63       145   233      150      2.3      0      1
1   37       130   250      187      3.5      0      1

In [64]:
model.predict(data)

array([[0.6626353 , 0.33736467],
       [0.32262853, 0.6773715 ]], dtype=float32)

In [ ]:
# TESTING :3

In [65]:
data=pd.DataFrame({"age":[63,63],"trestbps":[145,140],"chol":[233,250],"thalach":[150,187],"oldpeak":[3.3,3.5],"sex_0":[0,0],"sex_1":[1,1]})

In [66]:
model.predict(data)

array([[0.774672  , 0.22532804],
       [0.3635992 , 0.63640076]], dtype=float32)

In [ ]:
# TESTING :4

In [69]:
data=pd.DataFrame({"age":[13],"trestbps":[140],"chol":[200],"thalach":[187],"oldpeak":[3.1],"sex_0":[1],"sex_1":[0]})

In [70]:
model.predict(data)

array([[0.02595042, 0.9740496 ]], dtype=float32)